{% extends "base.html" %}
{% load static %}

{% block 'head' %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Deletar Despesa</title>
<link rel="stylesheet" href="{% static "finances/css/edit_expense.css" %}">
{% endblock 'head' %}

{% block 'body' %}
<div class="container">
    <h2>Editar Despesa</h2>
    <form method="POST">
        {% csrf_token %}
        <label for="process_title">Processo</label>
        <select name="process_title" required>
            {% for process in processes %}
                <option value="{{ process.titulo }}" {% if process == expense.process %}selected{% endif %}>{{ process.titulo }}</option>
            {% endfor %}
        </select>

        <label for="description">Descrição</label>
        <textarea name="description" rows="3" required>{{ expense.description }}</textarea>

        <label for="amount">Valor</label>
        <input type="number" name="amount" step="0.01" value="{{ expense.amount|safe }}" required>

        <label for="expense_date">Data</label>
        <input type="date" name="expense_date" value="{{ expense.expense_date }}" required>

        <label for="expense_type">Tipo de Despesa</label>
        <select name="expense_type" required>
            {% for code, name in expense.EXPENSE_TYPES %}
                <option value="{{ code }}" {% if code == expense.expense_type %}selected{% endif %}>{{ name }}</option>
            {% endfor %}
        </select>

        <button type="submit">Salvar Alterações</button>
        <a href="{% url "register_finances" %}"><button type="button" id="back-button" class="button button-outline">Voltar</button></a>
    </form>
</div>
{% endblock 'body' %}
