{% extends "base.html" %}
{% load static %}
{% block 'head' %}
<link rel="stylesheet" href="{% static 'users/css/navbar.css' %}" />
<link rel="stylesheet" href="{% static 'finances/css/reports.css' %}">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock 'head' %}

{% block 'body' %}
{% include "partials/navbar.html" %}
<h1>Dashboard Financeiro</h1>

<!-- Gráfico de Total de Processos e Média de Gastos -->
<div class="chart-container">
  <canvas id="myChart" width="400" height="200"></canvas>
</div>

<!-- Gráfico de Gastos por Processo -->
<div class="chart-container">
  <canvas id="myPieChart" width="400" height="200"></canvas>
</div>

<!-- Gráfico de Amount Alocado em Processos por Risco -->
<div class="chart-container">
  <canvas id="myRiskBarChart" width="400" height="200"></canvas>
</div>

<div class="chart-container">
  <canvas id="myStackedBarChart" width="400" height="200"></canvas>
</div>

<script>
  // Transfere os dados dos gastos do Django para o JavaScript
  const processos = {{ processes|safe }};
  const gastos = {{ gastos|safe }};
  const totalProcessos = {{ quant_processos|safe }}; // Total de Processos
  const mediaGastos = {{ media_gastos|safe }}; // Média de Gastos

  // Alocação de gastos por risco
  const riskLabels = ['Baixo', 'Médio', 'Alto'];
  const riskValues = {{ gastos_riscos|safe }}; // Valores de gastos alocados por risco

  // Configuração do gráfico de Total de Processos e Média de Gastos
  const ctx1 = document.getElementById("myChart").getContext("2d");
  const myChart = new Chart(ctx1, {
    type: "bar",
    data: {
      labels: ["Total de Processos", "Média de Gastos"],
      datasets: [{
        label: "Dados Financeiros",
        data: [totalProcessos, mediaGastos],
        backgroundColor: [
          "rgba(75, 192, 192, 0.5)",
          "rgba(255, 99, 132, 0.5)"
        ],
        borderColor: [
          "rgba(75, 192, 192, 1)",
          "rgba(255, 99, 132, 1)"
        ],
        borderWidth: 1,
      }],
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,
        },
      },
    },
  });

  // Configuração do gráfico de Gastos por Processo
  const ctx2 = document.getElementById('myPieChart').getContext('2d');
  const myPieChart = new Chart(ctx2, {
    type: 'pie',
    data: {
      labels: processos,
      datasets: [{
        label: 'Gastos por Processo',
        data: gastos,
        backgroundColor: [
          'rgba(75, 192, 192, 0.5)',
          'rgba(255, 99, 132, 0.5)',
          'rgba(255, 206, 86, 0.5)',
          'rgba(153, 102, 255, 0.5)'
        ],
        borderColor: [
          'rgba(75, 192, 192, 1)',
          'rgba(255, 99, 132, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(153, 102, 255, 1)'
        ],
        borderWidth: 1
      }]
    },
    options: {
      responsive: true,
      plugins: {
        legend: {
          position: 'top'
        },
        tooltip: {
          callbacks: {
            label: function(tooltipItem) {
              return `${tooltipItem.label}: R$ ${tooltipItem.raw}`;
            }
          }
        }
      }
    }
  });

  // Configuração do gráfico de Alocação por Risco
  const ctx3 = document.getElementById("myRiskBarChart").getContext("2d");
  const myRiskBarChart = new Chart(ctx3, {
    type: "bar",
    data: {
      labels: riskLabels,
      datasets: [{
        label: "Amount Alocado em Processos por Risco",
        data: riskValues,
        backgroundColor: [
          "rgba(75, 192, 192, 0.5)", // Baixo
          "rgba(255, 206, 86, 0.5)", // Médio
          "rgba(255, 99, 132, 0.5)"   // Alto
        ],
        borderColor: [
          "rgba(75, 192, 192, 1)",
          "rgba(255, 206, 86, 1)",
          "rgba(255, 99, 132, 1)"
        ],
        borderWidth: 1,
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,
        },
      },
      responsive: true,
      plugins: {
        legend: {
          display: false
        },
        tooltip: {
          callbacks: {
            label: function(tooltipItem) {
              return `${tooltipItem.label}: R$ ${tooltipItem.raw}`;
            }
          }
        }
      }
    },
  });

  const labelsDespesas = {{ labels_tipos_despesas|safe }};
  const valoresDespesas = {{ valores_despesas_totais|safe }};
  

  const ctx = document.getElementById("myStackedBarChart").getContext("2d");
const myStackedBarChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['CP', 'HA', 'DO', 'HT', 'TD', 'MP', 'NI'], // Siglas
        datasets: [{
            label: 'Total de Despesas',
            data: valoresDespesas,
            backgroundColor: [
                'rgba(75, 192, 192, 0.5)', // CP
                'rgba(255, 99, 132, 0.5)', // HA
                'rgba(255, 206, 86, 0.5)', // DO
                'rgba(153, 102, 255, 0.5)', // HT
                'rgba(255, 159, 64, 0.5)', // TD
                'rgba(201, 203, 207, 0.5)', // MP
                'rgba(99, 255, 132, 0.5)'  // NI
            ]
        }]
    },
    options: {
        plugins: {
            tooltip: {
                callbacks: {
                    label: function(tooltipItem) {
                        const labels = {
                            'CP': 'Custas processuais',
                            'HA': 'Honorários advocatícios',
                            'DO': 'Despesas operacionais',
                            'HT': 'Honorários de terceiros',
                            'TD': 'Taxas de documentação',
                            'MP': 'Multas ou penalidades',
                            'NI': 'Notificações e intimações'
                        };
                        const label = labels[tooltipItem.label] || tooltipItem.label; 
                        return `${label}: R$ ${tooltipItem.raw}`;
                    }
                }
            }
        },
        scales: {
            x: {
                stacked: true
            },
            y: {
                stacked: true
            }
        }
    }
});


</script>
{% endblock 'body' %}
